{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日記型SNS</title>
    
    {% block head %}{% endblock head %}
    <link rel="stylesheet" href="{% static 'myjob/css/base.css' %}">
</head>
<body>
    {% block content %}
    {% endblock content %}
 

<!-- フッター -->

        <footer>
            <div>
                <p>Copyright © 2026 ren All rights Reserved.</p>
                <p>Powered by as</p>
            </div>
        </footer>
    </body>
</html>