{% extends "base/myjob_base.html" %}
{% load static %}

{% block body %}

<p id="aisatu">挨拶</p> 
<script src="{%static 'myjob\js\time.js' %}"></script>
<p id="time">時間</p>
<script src="{%static 'myjob\js\time.js' %}"></script>
<iframe src="https://calendar.google.com/calendar/embed?height=300&wkst=1&ctz=Asia%2FTokyo&showPrint=0&src=ZjYzZmJiYmFhZGJlYzM4NjRjYmZmZDk4MTM4M2E5ZDZlYTA2Mzk2NWU4MDJhZWNlMTJhZDFiOWQxNDM1OGY5MkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23f6bf26" style="border:solid 1px #777" width="300" height="300" frameborder="0" scrolling="no"></iframe>
<br>
<div class="button">
<a href="{%url 'myjob:page_create' %}">日記を書く
</a>
</div>
<br>
<div class="button">
<a href="{%url 'myjob:page_list' %}">ページ一覧</a>
<div>
<br>
<div class="button">
<a href="{% url 'myjob:touch' %}">
    touch
</a>
</div>
<br>
<div class="button">
<a href="{% url 'myjob:menu' %}">MENU</a></div>
{% endblock %}